## 2021.02.03 : Python Programming Review

#### 1. Basic Arithmetics

In [32]:
a = 7
b = 3
c = 5.5

print(a+b) #add
print(a-b) #subtract
print(a*b) #multiply
print(a/b) #divide
print(a//b) #quotient
print(a%b) #remainder
print(a**b) #power
print(a/b/c)
print(a/(b/c))

10
4
21
2.3333333333333335
2
1
343
0.42424242424242425
12.833333333333334

#### 2. Data Type

In [2]:
a = 3
b = '3'
c = False

In [ ]:
print(a,b,c)
print(type(a),type(b),type(c))

7 3 5.5
<class 'int'> <class 'int'> <class 'float'>

In [ ]:
print(type(a))
a = float(a)
print(a)
print(type(a))

<class 'int'>
7.0
<class 'float'>

In [ ]:
print(type(c))
c2 = int(c)
print(c2)
print(type(c2))

<class 'float'>
5
<class 'int'>

In [ ]:
print(3==7)
print(4!=5)
print(2.5!=2.5)

trueorfalse = 4!=5
print(trueorfalse)
print(type(trueorfalse))

False
True
False
True
<class 'bool'>

In [ ]:
print("Socio-boom eun Onda!")
d = "Socio-boom eun Onda!"

print(d)
print(type(d))

Socio-boom eun Onda!
Socio-boom eun Onda!
<class 'str'>

In [80]:
testlist = [1,2,1234,125,475,47,4,52,42,4,23,5,347,3,3,4,6]
len(testlist)

17

In [113]:
testtuple = (1,2,3,4,5)

In [120]:
z = [testtuple, False, 3.0, [1,6,3,(2,3,4)]]
z

[(1, 2, 3, 4, 5), False, 3.0, [1, 6, 3, (2, 3, 4)]]

In [23]:
infodict = {'강태영':{'height':[171, 283,183,334], 'weight':54},
            '성균관대':'경제학과'}

In [140]:
sorted(infodict['강태영']['height'])

[171, 183, 283, 334]

In [ ]:
#list
masterpiece = ['clementine', 'real', 'green lantern']
primes = [2,3,5,7]
print(masterpiece)
print(primes)
print(masterpiece+primes)
print(prime_numbers+masterpiece)

new_lists = primes+masterpiece
type(new_lists)

['clementine', 'real', 'green lantern']
[2, 3, 5, 7]
['clementine', 'real', 'green lantern', 2, 3, 5, 7]
[2, 3, 5, 9999, 7, 11, 'clementine', 'real', 'green lantern']

list

In [ ]:
#tuple
gamblers = ('jungwhan', 'soogeun', 'jaehoon')
type(gamblers)

tuple

In [ ]:
#dictionary
salary = {'sociology':300, 'computer science':10, 'management':5}
type(salary)

dict

In [ ]:
#index
print(d[3])
print(masterpiece[0])
print(primes[1])
print(gamblers[2])
#print(salary[3])
print(salary['sociology'])

i
clementine
3
jaehoon
300

In [ ]:
#character slicing
print(d)
print(d[-2])
print(d[0:5])
print(d[0:15:2])
print(d[0:15:3])

Socio-boom eun Onda!
a
Socio
Scobo u
Sibmu

#### 3. Basic Functions and Operations

In [35]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [ ]:
print("test"*3)

testtesttest

In [ ]:
#list operation
primes.append(11)
masterpiece.append('suicide squad')
print(primes)
print(masterpiece)

primes.insert(3,9999)
masterpiece.insert(1,'fan4stic')
print(primes)
print(masterpiece)

[2, 3, 5, 7, 11]
['clementine', 'real', 'green lantern', 'suicide squad']
[2, 3, 5, 9999, 7, 11]
['clementine', 'fan4stic', 'real', 'green lantern', 'suicide squad']

In [ ]:
gamblers.append('tony')
gamblers.insert(0,'tony')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
d2 = d.upper()
d3 = d2.lower()
print(d);print(d2);print(d3)

Socio-boom eun Onda!
SOCIO-BOOM EUN ONDA!
socio-boom eun onda!

In [ ]:
print(d.count('o'))
print(d.split(' '))
d.replace('o','A')

4
['Socio-boom', 'eun', 'Onda!']

'SAciA-bAAm eun Onda!'

#### 4-1. Condition Statement : *If / Elif / Else*

In [66]:
score = str(input("What is your grade?")) #A, B, C, F
if score == 'A' :
    print("Great")
else :
    print("Not Impressive")

What is your grade? A

Great

In [ ]:
score = str(input("What is your grade?")) #A, B, C, F
if score == 'A' :
    print("Great")
elif score == 'B' :
    print("Not bad")
elif score == 'C' :
    print("...")
else :
    print("Ah.. igun jom...")

Not bad

#### 4-2. Iteration Statement : *For*

In [ ]:
# for statement
for i in range(1,6) :
    print("o"*i)

o
oo
ooo
oooo
ooooo

In [ ]:
for i in range(1,6) :
    print('o'*(6-i))

ooooo
oooo
ooo
oo
o

In [ ]:
for i in range(1,6) :
    print(' '*(i-1), 'o'*(6-i))

 ooooo
  oooo
   ooo
    oo
     o

In [1]:
for i in range(1,6) :
    print(' '*(6-i), 'o'*i)

      o
     oo
    ooo
   oooo
  ooooo

#### 5. Making your own function

In [1]:
x = [2,4,6]
new_x = [2,'2', 4, 4, '4', 8, 6, '6', 12]

y = [1,10,23]
new_y = [1, '1', 2, 10, '10', 20, 23, '23', 46]

In [4]:
def kty_function(input_list) :
    output_list = []
    for each_value in input_list :
        output_list.append(each_value)
        output_list.append(str(each_value))
        output_list.append(each_value*2)
    print(output_list)

In [5]:
kty_function([2,3,7])

[2, '2', 4, 3, '3', 6, 7, '7', 14]

In [6]:
def phd(x) :
    x = float(x)
    x_new = x**2+3
    return(x_new)
phd(3)
#print(x_new) # It won't work!

12.0

In [7]:
def phd2(x,y) :
    x = str(x)
    y = int(y)
    return(x*y)
print(phd2(3,7))
new_obj = phd2(3,7)
type(new_obj)

3333333

str

#### 6. List Comprehension

In [10]:
original_list = [1,2,3,4,5]

doubled_list = []
for i in original_list :
    if i%2==0 :
        output = i*2
    else :
        output = i*10
    doubled_list.append(output)
doubled_list

[10, 4, 30, 8, 50]

In [9]:
doubled_list = [i*2 for i in original_list]
doubled_list

In [67]:
x = [1,2,3,4,5,6]
y = ['odds','even','odds','......']

In [72]:
y = []
for each_number in x :
    if each_number%2!=0 :
        output = 'odds'
    else :
        output = 'even'
    y.append(output)

In [74]:
['odds' if each_number%2!=0 else 'even' for each_number in x]

['odds', 'even', 'odds', 'even', 'odds', 'even']

#### 7. Function Time Complexity

In [11]:
def slow_sum(x,y) :
    output = 0
    for each in range(x, y+1) :
        output = output + each
    return output

slow_sum(1,5000000)

12500002500000

In [12]:
def faster_sum(x,y) :
    return int((x+y)*(y-x+1)/2)

faster_sum(1,5000000)

12500002500000

In [13]:
import time

In [17]:
start_time = time.process_time()
slow_sum(1,10000000)
print(time.process_time() - start_time, "seconds")

1.3125 seconds

In [21]:
start_time = time.process_time()
faster_sum(1,10000000)
print(time.process_time() - start_time, "seconds")

0.0 seconds