In [122]:
import numpy as np
import pandas as pd

pd.DataFrame(zip([1,2,3], ['안녕','아버지','가방']), columns=['number', 'word'])

   number word
0       1   안녕
1       2  아버지
2       3   가방

In [76]:
newsdf = pd.read_csv('./data/202007newsdata.csv')
newsdf = newsdf.dropna()
newsdf = newsdf.reset_index(drop=True)

newsdf.head()

,Unnamed: 0,title,url,category,publishing
0,0,"‘공부가 머니?’ 나태주X노지훈, 남승민에 진심 어린 특급 조언 [M+TV컷]",https://n.news.naver.com/entertain/article/057...,연예,MBN
1,1,"'비디오스타' 송지아 ""男 연예인에게 대시 받았다""",https://n.news.naver.com/entertain/ranking/art...,연예,한국일보
2,2,한국테크놀로지그룹 경영권 분쟁 휩싸이나,https://n.news.naver.com/article/011/000376142...,경제,서울경제
3,3,"[단독] 이서진X故이은주 '불새', 16년만에 아침극 리메이크→홍수아 ""논의 중"" ...",https://n.news.naver.com/entertain/ranking/art...,연예,OSEN
4,4,"'추가 녹취록'에 입장 바꾼 이순재, 사과와 화해로 마무리할까 [종합]",https://entertain.v.daum.net/v/20200630180817386,연예,스포츠경향

In [29]:
x = ['안녕', '아버지', '가방']
y = [2, 3, 2]

In [63]:
y = []
for word in x :
    y.append(len(word))
    
[len(word) for word in x]

list(map(len, x))

newsdf['len_title'] = newsdf['title'].str.len()

In [86]:
newsdf['category'].isin(['연예'])

0         True
1         True
2        False
3         True
4         True
         ...
92096    False
92097    False
92098     True
92099     True
92100     True
Name: category, Length: 92101, dtype: bool

In [140]:
enternews = newsdf[newsdf['category']=='연예'].reset_index(drop=True)
enternews = enternews[['title', 'category']]
enternews.shape

(16463, 2)

In [131]:
newsdf['len_title'] = newsdf['title'].str.len()
newsdf[['category', 'len_title']]

np.mean(newsdf[newsdf['category']=='연예']['len_title'])
lenmean_df = newsdf.groupby('category', as_index=False).mean()[['category', 'len_title']]

      category  len_title
0           연예         43
1           연예         28
2           경제         21
3           연예         50
4           연예         39
...        ...        ...
92096       사회         36
92097    세계/국제         34
92098       연예         51
92099       연예         44
92100       연예         24

[92101 rows x 2 columns]

In [26]:
x = [['안녕', '하세요'], ['아버지', '가방', '들어가신다'], ['파이썬', '코딩을', '합니다']]
x

melted_list = []
for each_list in x :
    for word in each_list :
        melted_list.append(word)

from itertools import chain
list(chain.from_iterable(x))

['안녕', '하세요', '아버지', '가방', '들어가신다', '파이썬', '코딩을', '합니다']

In [2]:
import numpy as np
import pandas as pd

newsdf = pd.read_csv('./data/202007newsdata.csv')
newsdf = newsdf.dropna()
newsdf = newsdf.reset_index(drop=True)

In [8]:
newsdf['token'] = newsdf['title'].str.split()

In [31]:
entertoken = newsdf[newsdf['category']=='연예']['token']
entertoken

0        [‘공부가, 머니?’, 나태주X노지훈,, 남승민에, 진심, 어린, 특급, 조언, [...
1                      ['비디오스타', 송지아, "男, 연예인에게, 대시, 받았다"]
3        [[단독], 이서진X故이은주, '불새',, 16년만에, 아침극, 리메이크→홍수아, ...
4        ['추가, 녹취록'에, 입장, 바꾼, 이순재,, 사과와, 화해로, 마무리할까, [종합]]
6        [지숙,, 레인보우, 첫, 품절녀…"이두희와, 기분, 좋은, 책임감, 품고, 살겠다...
                               ...
92094           ['복면가왕', 홍지민, 눈물·김구라, 혼란…, 종잡을, 수, 없는, 무대]
92095    [문천식,, 깜짝, 변신, "여자로, 태어났어도, 괜찮았겠네…성시경, 나, 어때?"...
92098    [홍석천, "남희석, 때문에, 개그맨, 은퇴?, 전혀, 아냐…김구라vs남희석,, 믿...
92099    [`보이스트롯`, 신수지, "전지훈련, 때, 따돌림, 당해…러시아, 선수들, `빵셔...
92100                       [한혜진,, 헨리, 깜짝, 병문안에, 울컥…'여은파']
Name: token, Length: 16463, dtype: object

In [38]:
every_entertoken = list(chain.from_iterable(entertoken))

from collections import Counter
Counter(every_entertoken).most_common(5)

[('[종합]', 971), ('[단독]', 493), ('공개', 402), ('후', 331), ('측', 305)]

In [42]:
newsdf['title'][0]

import nltk
import konlpy

'‘공부가 머니?’ 나태주X노지훈, 남승민에 진심 어린 특급 조언 [M+TV컷]'